<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="width" value="10"/>
    <add key="height" value="12"/>
    <add key="initheight" value="3"/>
    <add key="cellwidth" value="55"/>
    <add key="cellheight" value="55"/>
    <add key="maxcamps" value="2"/>
    <add key="maxunits" value="6"/>
    
    <add key="ranger.hp" value="2"/>
    <add key="ranger.speed" value="3"/>
    <add key="ranger.range" value="5"/>
    <add key="ranger.cooldown" value="4"/>
  
    <add key="tanker.hp" value="5"/>
    <add key="tanker.speed" value="2"/>
    <add key="tanker.range" value="1"/>
    <add key="tanker.cooldown" value="2"/>
  
    <add key="ambusher.hp" value="3"/>
    <add key="ambusher.speed" value="4"/>
    <add key="ambusher.range" value="1"/>
    <add key="ambusher.cooldown" value="2"/>
  
    <add key="camp.hp" value="5"/>
    <add key="camp.speed" value="0"/>
    <add key="camp.range" value="0"/>
    <add key="camp.cooldown" value="0"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>